.container{
    width: 90%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 458px;
}

.label{
    font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 12px;
}
.container > div{
    border-radius: 4px;
    padding: 4px;
}
.button{
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0px 48px;
    height: 40px;
    font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}