.modalContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(20, 28, 41, 0.4);
  z-index: 999;
}

.modal {
  display: inline-flex;
  width: 579px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.03);
}

.modalContent {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  margin-bottom: 56px;
}

.close {
  align-self: flex-end;
  margin-top: 14px;
  margin-right: 14px;
  cursor: pointer;
  padding: 10px;
  padding-bottom: 4px;
}

.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}

.image {
  height: 190px;
  width: 190px;
}
.indicator {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20.033px */
}

.text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 80%;
  text-align: center;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}
.text a{
  text-decoration: underline;
}