.container{
    max-width: 580px;
    margin: 20px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.illustration{
    width: 150px;
    height: 150px;
    margin: 40px 0;
}
.text{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}
.buttonContainer button{
    display: flex;

height: 40px;
padding: 0px 48px;
}
.buttonContainer > div > div >div{
display: none;
}