.shareButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shareButtons a {
  margin: 0 10px;
}
.inputContainer{
    width: 80%;
    position: relative;
}
.inputContainer > div {
  border-radius: 4px;
  padding: 4px;
}

.inputContainer label {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
}
.eth{
    position: absolute;
    bottom: 12px;
    right: 14px;
}

.buttonContainer button{
  display: flex;

height: 40px;
padding: 0px 48px;
}
