.header{
    width: 100%;
}

.logoContainer{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 23px;
font-style: normal;
font-weight: 400;
}

.logo{
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

@media (min-width: 768px) {
    .logoContainer{
        margin-top: 56px;
        margin-left: 96px;
    }
}